include LICENSE
include README.rst
include CLAUDE.md
recursive-include drop_wd/admin *
recursive-include drop_wd/models *
recursive-include drop_wd/urls *
recursive-include drop_wd/views *
recursive-include drop_wd/staticfiles *
recursive-include drop_wd/templates *
recursive-include drop_wd/templatetags *
recursive-include drop_wd/services *
recursive-include drop_wd/management *
recursive-include drop_wd/migrations *
recursive-include drop_wd/settings *
recursive-include drop_wd/reports *
global-exclude *.py[cod]
global-exclude __pycache__/*
