include LICENSE
include README.rst
recursive-include drop_wd/admin *
recursive-include drop_wd/models *
recursive-include drop_wd/urls *
recursive-include drop_wd/views *
recursive-include drop_wd/static *
recursive-include drop_wd/templates *
recursive-include drop_wd/management *
recursive-include drop_wd/migrations *
recursive-include drop_wd/settings *
recursive-include drop_wd/reports *