{% extends "cis/logged-base-modal.html" %}
{%block title %}{{ page_title }}{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
<script>
    jQuery(function ($) {
        $('.dataTable').DataTable();
    });
</script>
<main>
    <div class="row">
        {% if messages %}
        <div class="col-12 mb-3">
            <ul class="messages list-group">
                {% for message in messages %}
                <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="col-md-4 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5>Request Details</h5>
                    <div class="card-text bg-mid-gray">
                        {{record.asHTML|safe}}
                    </div>
                    <hr>
                    <h5 class="card-title">Edit Request & Registration</h5>
                    <script>
                        jQuery(document).ready(function ($) {

                            function submit_form() {
                                let form = $(this);

                                $.blockUI();

                                $.post(
                                    '/ce/drop_wd/edit_request/',
                                    $(form).serialize(),
                                    function (response) {
                                        $.unblockUI();
                                        if (response.status == 'error') {
                                            alert(response.message);
                                        } else {
                                            swal(
                                                "",
                                                response.message,
                                                'success'
                                            )
                                        }
                                    }
                                )
                                return false;
                            }

                        });
                    </script>
                    <form action="" method="post" onsubmit="submit_form()">
                        {% csrf_token %}
                        {{ edit_request_form | crispy }}
                        <input type="submit" class="btn btn-primary btn-sm" value="Update">
                        &nbsp;<input type="button" value="Delete Request" class="btn btn-danger btn-sm delete float-right">
                        <script>
                            jQuery(document).ready(function ($) {
                                $("input.delete").on("click", function () {
                                    if (!confirm("Are you sure you want to permanently delete this record?"))
                                        return;

                                    $.blockUI();
                                    $.ajax({
                                        type: 'GET',
                                        url: "{% url 'ce_drop_wd:delete_record' record.id%}",
                                        success: function (response) {
                                            $.unblockUI();
                                            swal({
                                                title: 'Success',
                                                text: response.message,
                                                icon: response.status
                                            }).then(
                                                (value) => {
                                                    if(window.frameElement !== null) {
                                                        window.parent.closeModal()
                                                    } else {
                                                        window.location = "{% url 'ce_drop_wd:requests' %}";
                                                    }
                                                }
                                            )
                                        }
                                    });
                                });
                            });
                        </script>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item d-none">
                    <a class="nav-link" data-toggle="tab" href="#signatures">Signatures</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" data-toggle="tab" href="#student_details">Student Details</a>
                </li>
                <li class="nav-item d-none">
                    <a class="nav-link" data-toggle="tab" href="#notes">Notes</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">

                <div class="tab-pane active" id="student_details">
                    <div class="card border-top-0">
                        <div class="card-body">
                            <div class="card-text">
                                {{student.asHTML|safe}}
                                <hr>
                                <h3>Registration Details</h3>
                                {{registration.asHTML|safe}}
                            </div>
                        </div>
                    </div>
                </div> <!-- end tab # student_details -->

                <div class="tab-pane" id="notes">
                    <div class="row">
                        <div class="col-12 bg-gray-100">
                            <div class="card mb-4 border-top-0">
                                <div class="card-body ">

                                    <div class="text-right">
                                        <a href="#notes" class="btn btn-sm btn-primary ajax-add_new"
                                            data-parent="{{record.id}}" data-id="-1" data-modal="modal-add_new"
                                            data-model="classsectionnote" data-updater=""><i
                                                class="fa fas-light fa-plus-circle"></i>&nbsp;Add New Note</a>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="table-responsive">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>Added On</th>
                                                    <th>Note</th>
                                                    <th>Added By</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for r in notes %}
                                                <tr>
                                                    <td>{{r.createdon|date:'m/d/Y H:i a'}}<br>{{r.meta.type}}</td>
                                                    <td>
                                                        {{r.note}}
                                                    </td>
                                                    <td>{{r.createdby.first_name}} {{r.createdby.last_name}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end #notes -->

            </div>
        </div> <!-- end col-md-8 -->

    </div> <!-- end row -->

</main>
{% endblock %}